<ion-header class="ion-no-border">
  <ion-toolbar>
    <p style="color: rgb(8, 8, 8);display: flex;
    align-items: center;
    justify-content: center;">Asistencia Alumno</p>
   <img src="assets/img/notas2.png" width="60" height="40" style="position: absolute; right: 0; margin-right: 60px; margin-top: 10px;">
     
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="" style="color: rgb(0, 0, 0);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fondohome">
  <!-- Itera a través de los registros de asistencia -->
  <div *ngFor="let registro of userRegistro" style="border: 2px solid rgb(6, 6, 6);background-color: #f9f7f7;margin-top: 10px; " >
    <!-- Muestra el RUT del alumno -->
    <p>RUT del Alumno: {{ registro.rut_alumno }}</p>
    <p>Fechas: {{registro.fecha}}</p>
    <!-- Itera a través de las asignaturas para encontrar la correspondiente -->
    <div *ngFor="let asignatura of userAsignatura">
      <!-- Comprueba si el ID de la asignatura coincide con el ID en el registro -->
        <!-- Muestra el nombre y las siglas de la asignatura -->
        <p>Nombre de Asignatura: {{ asignatura.nombre_asignatura }}</p>
        <p>Siglas Asignatura: {{asignatura.codigo_asignatura}}</p>
    </div>
    <ion-radio-group [value]="registro.estado_asistencia">
      <ion-radio style="margin: 30px;color: rgb(3, 3, 3);" value="Presente" aria-label="Custom checkbox" (click)="cambiarAsistencia(registro.id_asistencia, 'Presente')">Presente</ion-radio>
      <ion-radio style="margin: 30px;color: rgb(17, 16, 16);" value="Ausente" aria-label="Custom checkbox that is checked">Ausente</ion-radio>
    </ion-radio-group>
  </div>
</ion-content>


<!-- 
<ion-content>
  <div ngFor="let usersec of userSeccion">
    <div class="divAsignatura">
      <h4 style="margin-left: 10px;">{{ usersec?.jornada }}</h4>
      <divngFor="let userhora of userHorario">
        <h4 style="margin-left: 10px;">{{ userhora?.dia_semana}}</h4>

      </div>
    </div>
  </div> 
</ion-content> -->