* {
    --background: hsl(0, 12%, 92%); /* Cambia el color de fondo aquí */
  }

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
  
    --color: #0c0c0c;
    --color-checked: #6815ec;
  }
  
  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .radio-checked.ios::part(container) {
    border-color: #6815ec;
  }

p{
    color: rgb(12, 12, 12);
    margin-left: 10px;
}

.center-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

ion-content.fondohome {
    --background: url('../../assets/img/fondo.png')center center/cover no-repeat; /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

  