* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }

ion-title{
    color:black;

}

ion-content.fondohome {
    --background: url('../../assets/img/fondo.png')center center/cover no-repeat; /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

.centrar-texto{
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: black;
}


img{
    display: flex; 
    justify-content: center; 
    align-items: center;
    width:100px
}
.signin-btn{
    margin-top: 25px;
    text-align: center;
}
.color-btn{
    --background: #1f1d6e!important;
    color:rgb(255, 255, 255);
}