<!-- perfil-profesor.page.html -->
<ion-header >
  <ion-toolbar>
    <ion-title>Perfil Profesor</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaulthref="login" text="" style="color: rgb(0, 0, 0);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="fondohome">
  <ion-card>
    <ion-card-header style="color: black;display: flex; align-items: center;">
      <img src="assets/img/profile.png" alt="">
      <h3 style="color: black">{{userInfo?.nombre}}</h3>
      <ion-label style="color: black;">{{userInfo?.Rut }}</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-list style="background-color:rgb(255, 255, 255)">
        <ion-item>
          <ion-label class="centrar-texto" style="color: black;">{{userInfo?.correo }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="centrar-texto" style="color: black;">{{userInfo?.telefono}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="signin-btn">
    <ion-button fill="solid" shape="round" class="animated-title color-btn" >Editar</ion-button>
  </div>
</ion-content>

