
* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }


.social-btn{
  margin:5px ;
  --background: #1f1d6e;
  width: 150px;
}

ion-content.fondohome {
  --background: url('../../assets/img/fondo.png')center center/cover no-repeat; /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
