* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }

div{
    p{
        color: rgb(250, 250, 250);
        margin-left: 20px;
    }
}
ion-content.fondohome {
    --background: url('../../assets/img/fondo.png')center center/cover no-repeat; /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }