<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="align-items: center;">
      <p style="color: black;margin-left: 35%;">Horario</p>
    </div>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="" style="color: rgb(0, 0, 0);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondohome">
  <div *ngFor="let asignatura of userAsignatura" style="border: 2px solid rgb(165, 165, 165);background-color: #ffffff ;margin: 20px;">
    <!-- Comprueba si el ID de la asignatura coincide con el ID en el registro -->
    <!-- Muestra el nombre y las siglas de la asignatura -->
    <div *ngFor="let horario of userHorario ">
      <div>
        <h3 style="margin-left:25px">{{ horario.dia_semana }}</h3>
        <p style="font-weight: bold;">{{ horario.hora_inicio }} a {{ horario.hora_fin }} </p>
        <!-- Agrega aquí más campos del registro que desees mostrar -->
      </div>
    </div>
    <p>{{ asignatura.nombre_asignatura }}</p>
    <p>{{asignatura.codigo_asignatura}}</p>
  </div>
</ion-content>