* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }

  div{
    p{
        color: rgb(0, 0, 0);
        margin-left: 45px;
    }
  }
  ion-content.fondohome {
    --background: url('../../assets/img/fondo.png')center center/cover no-repeat; /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  p{
  color: black;
  }
  h3{
  color: black;
  }