<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <p style="color: black;display: flex;
    align-items: center;
    justify-content: center;" >Iniciar Asistencia</p>
    <ion-buttons slot="start" >
      <ion-back-button defaulthref="login" text="" style="color: rgb(0, 0, 0);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="signin-btn">
    <ion-button fill="solid" shape="round" class="animated-title" style="--background: #1f1d6e!important;">Guardar</ion-button>
</div>
  <div class="signin-btn">
      <ion-button fill="solid" shape="round" class="animated-title" style="--background: #1f1d6e!important;">Guardar</ion-button>
  </div>
</ion-content>
